.place__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 1.05;
  margin: 0 0 48px 0;
  max-width: 460px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .place__title {
    max-width: 440px;
  }
}
@media screen and (min-width: 425px) and (max-width: 768px) {
  .place__title {
    max-width: 320px;
    font-size: 42px;
    line-height: 1.09;
  }
}
@media screen and (max-width: 650px) {
  .place__title {
    margin-bottom: 32px;
  }
}
@media screen and (max-width: 425px) {
  .place__title {
    max-width: 320px;
    font-size: 32px;
    line-height: 1.09;
    margin: 0 5% 32px 5%;
  }
}
