.places {
  max-width:984px;
  display: grid;
  gap:80px;
  grid-template-columns: 100%;
  width: calc(100% - 96px);
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .places {
    max-width: 928px;
    width: calc(100% - 96px);
  }
}
@media screen and (min-width: 425px) and (max-width: 768px) {
  .places {
    width: calc(100% - 48px);
    gap:73px;
  }
}
@media screen and (max-width: 425px) {
  .places {
    width: 100%;
    gap:50px;
  }
}
