.cover__subtitle {
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  max-width: 360px;
  margin: 32px auto 0 auto;
  z-index: 1;
}
@media screen and (min-width: 425px) and (max-width: 600px) {
  .cover__subtitle {
    font-size: 16px;
    margin-top: 24px;
  }
}
@media screen and (max-width: 425px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 1.14;
    max-width: 288px;
    margin-top: 16px;
  }
}

