.cover__background {
  background-image: url("../../../image/railways.jpg");
  background-size: contain;
  width: 100%;
  background-repeat: no-repeat;
  padding-bottom: 62.5%;
  grid-column: 1/1;
  grid-row: 1/1;
}



