.cover__background {
  background-image: url("../../../image/railways.jpg");
  background-size: contain;
  width: 100%;
  background-repeat: no-repeat;
  position: relative;
  text-decoration: none;
  color: #FFF;
  padding-bottom: 62.5%;
  display: block;
}

.cover__background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2A2C2F;
  opacity: .3;
}

.cover__background:hover:before {
  opacity: .8;
}


