.cover__background {
  background-image: url("../../../image/railways.jpg");
  background-size: contain;
  width: 100%;
  background-repeat: no-repeat;
  position: relative;
  text-decoration: none;
  color: #FFF;
  padding-bottom: 62.5%;
  display: flex;
}

.cover__background:hover .cover__overlay {
  opacity: 0.8;
}
